<%- include('partials/header') %>


<body class="text-center">
  <form action="/register" class="form-signin" method="POST">
    <img class="mb-4" src="img/icons8-lock-96.png" alt="" width="200" height="200">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    
    <input name="username" type="username" class="form-control bottom" placeholder="Username" required>
    <input name="email" type="email" class="form-control bottom" placeholder="Email" required>
    <input name="password" type="password" class="form-control bottom" placeholder="Password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Me Up</button>
    <button class="btn btn-block btn-social btn-google" type="submit"><span class="fa fa-google"></span>Register with Google</button>
    <button class="btn btn-block btn-social btn-facebook" type="submit"><span class="fa fa-facebook"></span>Register with Facebook</button>
    <button class="btn btn-block btn-social btn-linkedin" type="submit"><span class="fa fa-linkedin"></span>Register with LinkedIn</button>
    <button class="btn btn-block btn-social btn-github" type="submit"><span class="fa fa-github"></span>Register with GitHub</button>
    <p class="mt-5 mb-3 text-muted">&copy; Social Login App</p>
  </form>


<%- include('partials/footer') %>